* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }

  body {
    background-color: #87CEEB;
  }
  
.header {
    color: #fff;
    padding: 2rem;
}

.container {
    color: #fff;
    float: left;
    padding: 2rem;
}

input::placeholder {
    color: white;
  }
  
button,
#Name {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}
#Name {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

.container form input::placeholder {
    color: currentColor; 
}

button {
    position: fixed;
    left: 27rem;
    font-size: 14px;
    background: #ADD8E6 ;
    width: 100px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0 ,0 , 0.1);
    -webkit-transition-duration: 0.3s ;
    -webkit-duration: 0,3s ;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  button:hover {
    box-shadow: 0 0 20px rgba(0, 0 ,0 , 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  #searchHistory{
    display: grid;
    text-align: center;
  }

  h3{
    color: #fff;
  }
#nextFive {
  padding-right: 20rem;
}


